In [4]:
import numpy as np
import pandas as pd

In [9]:
data = pd.read_csv('./train_ver2.csv')

C:\Users\BIS_COM\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5,8,11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
data.head(3)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [11]:
for x in data.columns:
    print('{}\n'.format(data[x].head()))

0    2015-01-28
1    2015-01-28
2    2015-01-28
3    2015-01-28
4    2015-01-28
Name: fecha_dato, dtype: object

0    1375586
1    1050611
2    1050612
3    1050613
4    1050614
Name: ncodpers, dtype: int64

0    N
1    N
2    N
3    N
4    N
Name: ind_empleado, dtype: object

0    ES
1    ES
2    ES
3    ES
4    ES
Name: pais_residencia, dtype: object

0    H
1    V
2    V
3    H
4    V
Name: sexo, dtype: object

0     35
1     23
2     23
3     22
4     23
Name: age, dtype: object

0    2015-01-12
1    2012-08-10
2    2012-08-10
3    2012-08-10
4    2012-08-10
Name: fecha_alta, dtype: object

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ind_nuevo, dtype: float64

0          6
1         35
2         35
3         35
4         35
Name: antiguedad, dtype: object

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: indrel, dtype: float64

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: ult_fec_cli_1t, dtype: object

0    1
1    1
2    1
3    1
4    1
Name: indrel_1mes, dtype: object

0    A
1    I
2    I
3    I
4    A
Name: tiprel_1mes, dtype: object

0    S
1    S
2    S
3    S
4    S
Name: indresi, dtype: object

0    N
1    S
2    N
3    N
4    N
Name: indext, dtype: object

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: conyuemp, dtype: object

0    KHL
1    KHE
2    KHE
3    KHD
4    KHE
Name: canal_entrada, dtype: object

0    N
1    N
2    N
3    N
4    N
Name: indfall, dtype: object

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: tipodom, dtype: float64

0    29.0
1    13.0
2    13.0
3    50.0
4    50.0
Name: cod_prov, dtype: float64

0         MALAGA
1    CIUDAD REAL
2    CIUDAD REAL
3       ZARAGOZA
4       ZARAGOZA
Name: nomprov, dtype: object

0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: ind_actividad_cliente, dtype: float64

0     87218.10
1     35548.74
2    122179.11
3    119775.54
4          NaN
Name: renta, dtype: float64

0     02 - PARTICULARES
1    03 - UNIVERSITARIO
2    03 - UNIVERSITARIO
3    03 - UNIVERSITARIO
4    03 - UNIVERSITARIO
Name: segmento, dtype: object

0    0
1    0
2    0
3    0
4    0
Name: ind_ahor_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_aval_fin_ult1, dtype: int64

0    1
1    1
2    1
3    0
4    1
Name: ind_cco_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_cder_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_cno_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_ctju_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_ctma_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_ctop_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_ctpp_fin_ult1, dtype: int64

0    0
1    0
2    0
3    1
4    0
Name: ind_deco_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_deme_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_dela_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_ecue_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_fond_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_hip_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_plan_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_pres_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_reca_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_tjcr_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_valo_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_viv_fin_ult1, dtype: int64

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ind_nomina_ult1, dtype: float64

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ind_nom_pens_ult1, dtype: float64

0    0
1    0
2    0
3    0
4    0
Name: ind_recibo_ult1, dtype: int64

In [12]:
data.info

<bound method DataFrame.info of           fecha_dato  ncodpers ind_empleado pais_residencia sexo  age  \
0         2015-01-28   1375586            N              ES    H   35
1         2015-01-28   1050611            N              ES    V   23
2         2015-01-28   1050612            N              ES    V   23
3         2015-01-28   1050613            N              ES    H   22
4         2015-01-28   1050614            N              ES    V   23
...              ...       ...          ...             ...  ...  ...
13647304  2016-05-28   1166765            N              ES    V   22
13647305  2016-05-28   1166764            N              ES    V   23
13647306  2016-05-28   1166763            N              ES    H   47
13647307  2016-05-28   1166789            N              ES    H   22
13647308  2016-05-28   1550586            N              ES    H   37

          fecha_alta  ind_nuevo antiguedad  indrel  ... ind_hip_fin_ult1  \
0         2015-01-12        0.0          6     1.0  ...                0
1         2012-08-10        0.0         35     1.0  ...                0
2         2012-08-10        0.0         35     1.0  ...                0
3         2012-08-10        0.0         35     1.0  ...                0
4         2012-08-10        0.0         35     1.0  ...                0
...              ...        ...        ...     ...  ...              ...
13647304  2013-08-14        0.0         33     1.0  ...                0
13647305  2013-08-14        0.0         33     1.0  ...                0
13647306  2013-08-14        0.0         33     1.0  ...                0
13647307  2013-08-14        0.0         33     1.0  ...                0
13647308  2016-05-13        1.0          0     1.0  ...                0

         ind_plan_fin_ult1 ind_pres_fin_ult1 ind_reca_fin_ult1  \
0                        0                 0                 0
1                        0                 0                 0
2                        0                 0                 0
3                        0                 0                 0
4                        0                 0                 0
...                    ...               ...               ...
13647304                 0                 0                 0
13647305                 0                 0                 0
13647306                 0                 0                 0
13647307                 0                 0                 0
13647308                 0                 0                 0

         ind_tjcr_fin_ult1 ind_valo_fin_ult1 ind_viv_fin_ult1 ind_nomina_ult1  \
0                        0                 0                0             0.0
1                        0                 0                0             0.0
2                        0                 0                0             0.0
3                        0                 0                0             0.0
4                        0                 0                0             0.0
...                    ...               ...              ...             ...
13647304                 0                 0                0             0.0
13647305                 0                 0                0             0.0
13647306                 0                 0                0             0.0
13647307                 0                 0                0             0.0
13647308                 0                 0                0             0.0

          ind_nom_pens_ult1  ind_recibo_ult1
0                       0.0                0
1                       0.0                0
2                       0.0                0
3                       0.0                0
4                       0.0                0
...                     ...              ...
13647304                0.0                0
13647305                0.0                0
13647306                0.0                0
13647307                0.0                0
13647308                0.0                0

[13647309 rows x 48 columns]>

In [13]:
data.shape

(13647309, 48)